<div class="footer">
    <div class="footer-container">
        <p class="footer-texto">Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Similique ducimus delectus, 
            totam ea fugit omnis libero blanditiis. Sint incidunt cor
            rupti quae, vel ducimus dicta sapiente! Eius neque iste sint dignissimos?
        Amet, a rem aliquam doloribus quam consequuntur perferendis quia placeat 
        recusandae, eius quibusdam commodi impedit possimus sit cum asperiores voluptas accusan
        tium reiciendis atque numquam, soluta nulla assumenda voluptatum. Perspiciatis, exercitationem.</p>
        <ul class="footer-contato">
            <li><a href="#">contato@consulta.me</a></li>
            <li><a href="#">21 99490-0294</a></li>
            <li><a href="#">Nosso instagram</a></li>
            <li><a href="#">Nosso Linkedin</a></li>
        </ul>
        <p class="footer-copy">Consulta.me. pode ser que sim ou pode ser que nao tenha direitos reservados</p>
    </div>
</div>